body {
	background-color: rgb(43, 42, 42);
}

.keyboard {
	padding: 5px 0;
	background: #333333;
	user-select: none;
	width: 100%;
	margin: none;
}

.keyboard__keys {
	text-align: center;
	padding: 25px;
}

.keyboard__key {
	height: 50px;
	width: 50px;
	margin: 3px;
	border-radius: 50px;
	border-color: #ffffff;
	border-width: 3px;
	background: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	font-size: 1.05rem;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.keyboard__key:active {
	background: rgba(255, 255, 255, 0.12);
}

.lightboard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	background: #615757;
	margin: none;
	user-select: none;
}

.lightboard__lights {
	text-align: center;
	padding: 25px;
}

.lightboard__light {
	height: 50px;
	width: 50px;
	margin: 3px;
	border-radius: 50px;
	border: none;
	background: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	font-size: 1.05rem;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.light__on {
	background: yellow;
	color: black;
}

.rotorboard {
	width: 100%;
	height: 150px;
	background: #333333;
	user-select: none;
	margin: none;
}

.rotors {
	text-align: center;
	padding: 20px;
}

.rotor {
	height: 50px;
	width: 25px;
	margin: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-color: #ffffff;
	border-width: 3px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	font-size: 1.05rem;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

.rotor:hover {
	background: rgba(255, 255, 255, 0.12);
}

.dropdowns {
	width: 100%;
	height: 50px;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	margin: none;
}

.dropdown {
	background: #948383;
	margin: 28px;
	margin-bottom: 0px;
	width: 35px;
	height: 20px;
	user-select: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.sound {
	height: 25px;
	width: 30px;
	position: absolute;
	left: 15px;
	top: 15px;
	background: transparent;
	border: none;
	user-select: none;
	cursor: pointer;
}

.info {
	height: 30px;
	width: 30px;
	position: absolute;
	right: 15px;
	top: 15px;
	background: transparent;
	border: none;
	user-select: none;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 800px;
	max-width: 80%;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
	font-family: "Open Sans";
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 20px 20px;
	font-family: "Open Sans";
}

#modal-overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
	pointer-events: none;
}

#modal-overlay.active {
	opacity: 1;
	pointer-events: all;
}

.enigma {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
	margin: auto;
	height: 90vh;
	width: 100vh;
	max-width: 750px;
}
